/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/
* {
	margin: 0 auto;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

h1 {
	margin: 15px 0 0 0;
	font-size: 40px;
	font-weight: bold;
	line-height: 49px;
	width: 50%;
}

h2 {
	margin: 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 29px;
}

h3 {
	align-self: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	line-height: 27px;
	height: auto;
	padding: 10px 15px;
	color: #fff;
	margin: 0 0 40px 0;
	background-color: #104f2c;
}

h4 {
	display: flex;
	justify-content: center;
	align-self: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	height: auto;
	padding: 10px 15px;
}

p {
	font-size: 17px;
	line-height: 29px;
}

/*HEADER STYLING*/
header {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.6)
		),
		url('./images/nature-hero.jpg');
	background-size: cover;
	background-position-x: center;
	background-position-y: 60%;
	height: 508px;
	width: auto;
	color: #fff;
	display: flex;
}

.header-wrapper {
	margin-top: -100px;
	display: flex;
	flex-direction: column;
	align-self: center;
	position: relative;
	width: 90%;
}

.social-icons-top {
	display: flex;
	align-self: flex-end;
	margin: 20px;
}

.fa {
	font-size: 20px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 50%;
	padding: 10px;
	margin-right: 5px;
}

.main-content {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.main-content p {
	margin: 0;
}

.name {
	font-weight: bold;
	text-align: end;
}

header img {
	width: 162px;
	height: 162px;
	border: 3px solid;
	border-radius: 50%;
	position: absolute;
	right: 12px;
	bottom: -195px;
	z-index: 100;
}

/*MAIN SECTIONS*/
.main-wrapper {
	padding: 60px 40px;
	display: flex;
	flex-direction: column;
}

.featured,
.other,
.skills {
	background: #f1f2f3;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/*DESCRIPTION/SUMMARY SECTION*/
.summary {
	position: relative;
	background: #f1f2f3;
}

.summary p {
	text-indent: 50px;
	position: relative;
}

.line {
	background: #104f2c;
	width: 30px;
	height: 2px;
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 0px;
}

.dot {
	background: #104f2c;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 11px;
	left: 30px;
}

/*TECH KNOWLEDGE*/
.tech p {
	text-align: center;
}

/*FEATURED PROJECT SECTION*/
.project-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.a-wrapper {
	text-decoration: none;
	color: #000000;
	margin: 0;
}

/*FEAUTRED PROJECT OVERLAY STYLING*/
.overlay-container {
	position: relative;
	width: 100%;
	height: 180px;
}

img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 0;
	background: rgba(0, 0, 0, 0.38);
	opacity: 1;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
}

.overlay p {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #fddfe7;
}

.arrow {
	text-decoration: underline;
	font-weight: bold;
	color: #104f2c;
}

/*FEAUTRED PROJECT STYLING*/
.project-description,
.other-project-wrapper {
	margin-top: 20px;
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
}

.project-title {
	color: #104f2c;
	text-transform: uppercase;
	font-weight: bold;
}

.tag-wrapper {
	display: flex;
	margin: 10px 0 30px 0;
	width: 100%;
}

.tag-wrapper p {
	background: #fddfe7;
	padding: 1px 8px;
	border-radius: 3px;
	margin: 0 5px 0 0;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 200;
}

/*OTHER PROJECTS STYLING*/
.other-heading {
	color: #104f2c;
	background: none;
}

.project {
	display: flex;
	flex-direction: column;
	margin: 0;
}

/*MY THOUGHTS STYLING*/
.thoughts img {
	width: 301px;
	height: 205px;
}

/*SKILLS STYLING*/
.skills .content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.skill-wrapper-code {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.code,
.upcoming,
.tool,
.more {
	text-align: center;
	margin-top: 20px;
}

.code span,
.upcoming span,
.tool span,
.more span {
	color: #104f2c;
	font-size: 17px;
	line-height: 29px;
	font-weight: bold;
	text-align: center;
}

.tool-more-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0;
}

ul {
	list-style: none;
	/*text-align: center;*/
	/*margin-top: 20px;*/
	font-size: 17px;
	line-height: 29px;
}

/*FOR MORE STYLING*/
.social-icons-bottom {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.icon-text-wrapper {
	margin: 15px 5px;
	text-decoration: none;
	color: #104f2c;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.social-icons-bottom i {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #104f2c;
	color: #104f2c;
	border-radius: 50%;
	height: 58px;
	width: 59px;
	font-size: 29px;
	padding: 10px;
	margin: 0;
}

.social-icons-bottom p {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

/*FOOTER STYLING*/
footer {
	background: #8c8c94;
	color: #000000;
	padding: 40px;
}

address {
	text-align: center;
	font-style: normal;
}

address span {
	font-weight: bold;
}

address a {
	text-decoration: none;
	color: #000000;
}

/***** MEDIA QUERIES TABLET ******/
@media (min-width: 768px) {
	.header-wrapper,
	.content {
		width: 60%;
	}

	.other-projects-wrapper {
		align-items: flex-start;
	}
}

/* MEDIA QUERIES DESKTOP */
@media (min-width: 1024px) {
	header {
		background-position-y: 39%;
		height: 655px;
	}

	header img {
		height: 250px;
		width: 250px;
		right: -10px;
		bottom: -270px;
	}

	.f-project {
		width: 40%;
		margin: 25px;
		display: flex;
		flex-direction: column;
	}

	.project-description {
		height: 90px;
	}

	.tool-more-wrapper {
		flex-direction: unset;
	}
}
