/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/
* {
    margin: 0 auto;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1,h2 {
    margin-top: 15px;
    /*font-family: 'Montserrat';*/
    font-weight: bold;
    /*width: 80%;*/
}

h2 {
    margin-top: 0;
}

h3 {
    display: flex;
    justify-content: center;
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
    height: auto;
    margin: 50px 40px 0 40px;
    padding: 10px 15px;
}

h4 {
    display: flex;
    justify-content: center;
    align-self: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    margin: 50px 40px 0 40px;
    padding: 10px 15px;
}

h5 {
    background: #FDDFE7;
    padding: 8px 12px;    
    border-radius: 3px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: 200;
}

p {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: regular;
    /*width: 80%;*/
}

header {
    background-image: url('./images/nature-hero.jpg');
    background-size: cover;
    height: 60vh;
    width: auto;
    color: #fff;   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    /*
    background-image: url(./assets/sky-day.jpg); 
    background-repeat: no-repeat; 
    background-attachment: local; 
    background-position-x: center; 
    background-position-y: 60%;*/
}

.social-icons-top {
    display: flex;
    align-self: flex-end;
    margin: 20px;
}

.fa {
    font-size: 20px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;  
}

.main-content {
    margin-left: 40px;
}

.top-section img {
    /*background-image: url(./images/profile-picture.jpg);
    background-size: cover;
    background-position: center;*/
    width: 162px;
    height: 162px;
    border: 3px solid;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: -20px;
}

.summary-section {
    background-color: #F1F2F3;
    display: flex;
    justify-content: center;
}

.summary-section p {
    /*font-family: 'Montserrat';*/
    padding: 50px 40px;
    width: 80%;
}

.tech-knowledge {
    /*font-family: 'Montserrat';*/
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tech-text {
    background-color: #104F2C;
    width: 65px;
    color: #fff;
}

.tech-methods {
    padding: 40px 40px;
    display: flex;
    align-self: center;
    width: 80%;
    text-align: center;
    /*font-family: 'Montserrat';*/
}

.arrow {
    all: unset;
    color: #104F2C;
    font-weight: bold;
    text-decoration: underline;
}

.featured-projects {
    background-color: #F1F2F3;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.featured-project-text {
    background-color: #104F2C;
    width: 260px;
    margin-bottom: 20px;
    color: #fff;
}


.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /*align-self: center;*/
    width: 100%;
    /*width: 80%;*/
    /*remove and add in the featured-project-text*/
}

.container {
    position: relative;
    width: 100%;
    height: 180px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    background: rgb(99 96 96 / 50%);
    background: rgba;
    opacity: 1;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.projects {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100%;*/
    /*margin-bottom: 40px;*/
    text-decoration: none;
    color: #000000;
}

img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.project-description {
    margin-top: 20px;
    line-height: 1.4;
}


.project-description span {
    color: #104F2C;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: bold;
}

.method-wrapper {
    display: flex;
    margin: 20px 0;
}

.method-wrapper span {
    background: #FDDFE7;
    padding: 4px 7px;
    border-radius:3px;
    margin-right: 5px;
}

.other-projects-text {
    width: 260px;
    color: #104F2C;
}

.other-projects-wrapper {
    margin-bottom: 40px;
}

/*My thoughts style*/

.skills {
    background-color: #F1F2F3;
    /* font-family: 'Montserrat'; */
    display: flex;
    flex-direction: column;
}

.skills-text {
    background-color: #104F2C;
    width: 80px;
    margin-bottom: 20px;
    color: #fff;
}

.for-more {
    display: flex;
    flex-direction: column;
}

.for-more-text {
    background-color: #104F2C;
    width: 130px;
    margin-bottom: 20px;
    color: #fff;
}

.social-icons-bottom {
    display: flex;
    align-self: center;
    justify-content: space-between;
    color: #104F2C;
    width: 80%;
    margin-bottom: 40px;
}

.icon-text-wrapper {
    text-decoration: none;
    color: #104F2C;
}

.social-icons-bottom i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #104F2C;
    color: #104F2C;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 22px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px
}

.social-icons-bottom p {
    display: flex;
    justify-content: center;
}

footer {
    background: #0E5B5C;
    color: #fff;
}

address {
    
}